body {
	background-image:url(fp_background.jpg);
	width:100%;

}



textarea {
	width:300px;
	height:150px;
}

#home {
	width:75px;
	margin:auto;
	border:2px solid rgba(33, 68, 72, 0.59);
	background-color: #93ecdd;
	color: rgba(0, 0, 0, 0.55);
	font: bold 20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

}
a:visited, a {
	text-decoration:none;
	color:#1b3732;
	
}

fieldset{
	width:100%;
	text-align:center;
	border:none;

}